{%- extends 'lab/index.html.j2' -%}

{# this overrides the default behavior of directly starting the kernel and executing the notebook #}
{% block notebook_execute %}
{% endblock notebook_execute %}

{%- block html_head_css -%}
{{ super() }}

{% set bar_color = '#ffffff' %}

{{ resources.include_css("static/materialize.min.css") }}

<style type="text/css">
  body {
    width: 100vw;
    height: 100vh;
    --jp-notebook-padding: 0px;
  }

  header {
    height: 64px;
    background-color: #ffffff;
    margin: 4px;
  }

  main {
    height: calc(100vh - 72px);
    background-color: #eeeeee;
    overflow-y: auto;
  }

  .brand-logo {
    height: 100%;
  }

  /* Overwrite default value, workaround for not breaking materialize */
  .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
  .jp-Notebook {
    padding: 0px !important;
  }

  .jp-Notebook .theme-light {
    background: transparent;
  }

  .nav-wrapper {
    background-color: {{ bar_color }};
  }

  .voila-spinner-color1 {
    fill: {{ bar_color }};
  }
</style>

<style>
a.anchor-link {
  display: none;
}
.highlight  {
  margin: 0.4em;
}
/* we keep the DOM for nbconvert the same as for voila, but hide the status icon */
#kernel-status-icon {
  display: none;
}
</style>

{%- endblock html_head_css -%}

{%- block body -%}
{%- block body_header -%}
  {{ super() }}
  <header>
      <object class="brand-logo" type="image/jpg" data="{{ resources.include_url("static/btxt_logo.jpg") }}"></object>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col s12">
{%- endblock body_header -%}

{%- block body_loop -%}
          <div class="jp-Notebook theme-light">
            {{ super() }}
          </div>
{%- endblock body_loop -%}

{%- block body_footer -%}
        </div>
      </div>
    </div>
  </main>
  {{ super() }}
  {{ resources.include_js("static/materialize.min.js") }}
{%- endblock body_footer -%}

{%- endblock body -%}
